@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 235, 235, 235;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-sans);
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

h4 {
  font-size: medium;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#postPortableText>h1,#postPortableText>h2,#postPortableText>h3,#postPortableText>h4,#postPortableText>h5,#postPortableText>h6 {
  margin-top: 0em;
  margin-bottom: 1em;
}

#postPortableText>p,#postPortableText>ul {
  margin-bottom: 1em;
  line-height: 1.6em;
}

#postPortableText>img + p>em {
  position: absolute;
  margin-top: -4em;
  padding: 0.5em 1em 0.5em 0.5em;
  background-color: #b8b8b8;
}

#postPortableText>ul>li {
  list-style-type: disc;
  list-style-position: inside;
}

#postPortableText a, #hero a {
  text-decoration: underline;
}